.card {
    position: relative;
    border: 1px solid var(--light-black-1);
    box-shadow: var(--light-black-4) 0px 3px 8px;
    display: flex;
    flex-direction: column;
}

.card-overlay {
    width: 19rem;
    height: 27rem;
}

.card-overlay > img {
    object-fit: fill;
    object-position: 0 0;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--light-black-9);
    z-index: 1;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: var(--default-transition);
}

.card-overlay:hover > .overlay {
    transform: scaleY(1);
}

.overlay > .h4 {
    font-family: var(--font-architects-daughter);
}

.overlay > .h4,
.overlay > .btn {
    color: var(--white-color);
    text-align: center;
}

.overlay > .btn {
    border-bottom: 2px solid var(--white-color);
    padding: 0.75rem 1rem;
    font-weight: 600;
    transition: var(--default-transition);
    box-shadow: rgba(255, 255, 255, 0.7) 0px 25px 20px -20px;
}

.overlay > .btn:hover {
    background: var(--white-color);
    color: var(--black-color);
}