@import './css/imports.css';

/* -------- Header -------- */
/* Navbar */
.navbar {
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--light-black-1);
}

.logo {
    font-family: var(--font-cookie);
}

.logo-down {
    transform-origin: bottom;
    transform: scaleY(0);
    transition: var(--default-transition);
    font-family: var(--font-redressed);
}

.navbar:hover > .navbar-left > .logo-down {
    transform: scaleY(1);
}

.navbar-mid {
    gap: 0.5rem;
    border-bottom: 2px solid var(--black-color);
}

.search-bar {
    width: 20rem;
    font-size: 1rem;
    padding: 0.5rem 0.625rem;
    border: none;
    outline: none;
}

.search-bar::-webkit-search-cancel-button {
    cursor: pointer;
    color: var(--black-color);
}

.search-bar::-webkit-search-cancel-button:hover {
    transform: scale(1.1);
}

.navbar-right {
    gap: 3rem;
}

.icon-btn {
    gap: 0.1rem;
}

.icon-btn > i {
    font-size: 1.5rem;
    transition: var(--default-transition);
}

.icon-btn:hover > i {
    transform: scale(1.2);
}

/* Display */
.display {
    position: relative;
    width: 100%;
    height: fit-content;
}

.top-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: 8rem;
}

/* Main */
/* Home Page */
.quiz-arena {
    width: 100%;
    gap: 2rem;
    margin-bottom: 5rem;
}

.categories {
    width: 100%;
    gap: 1rem;
    padding: 1rem 2rem;
}

.category {
    flex: 1;
    text-align: center;
    padding: 0.25rem 0;
    transition: var(--default-transition);
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid var(--light-black-3);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.active-category,
.category:hover {
    border-bottom: 2px solid var(--black-color);
}

.category-quizes {
    width: 100%;
    gap: 2rem;
    padding: 1rem 2rem;
    transition: var(--default-transition);
}

.web-category,
.movie-category {
    display: none;
}

/* Instructions Page */
.instructions-page {
    width: 80%;
    padding: 1rem 2rem;
    margin: 0 auto;
    gap: 2rem;
    margin-bottom: 5rem;
}

.buttons {
    gap: 3rem;
}

.instructions {
    align-items: flex-start;
    gap: 2rem;
}

.instructions-page > .buttons {
    margin-left: 0;
}

.instruction {
    gap: 1rem;
    font-weight: 600;
}

/* Quiz Page */
.quiz-page {
    padding: 2rem 0;
}

.quiz-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 10rem;
    border-right: 1px solid var(--light-black-3);
    padding: 2rem 1rem;
}

.q-list {
    gap: 1rem;
}

.quiz-questions {
    margin-left: 11rem;
    padding: 2rem 1rem;
    gap: 3rem;
}

.questions {
    gap: 3rem;
}

.question,
.options {
    gap: 1rem;
}

.question-title {
    align-self: flex-start;
    width: 40rem;
    text-align: left;
}

.question-image {
    width: 40rem;
    height: 20rem;
    border-radius: 5px;
}

.question-image > img {
    border-radius: 5px;
    object-fit: cover;
    object-position: 0 0;
}

.option {
    padding: 0.5rem 1rem;
    border: 1px solid var(--light-black-6);
    border-radius: 2rem;
    width: 40rem;
    text-align: center;
}

.options > .option {
    cursor: pointer;
}

.options > .option:hover {
    border: 1px solid var(--black-color);
}

.hr {
    width: 70rem;
}

/* Result Page */
.result-page {
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.answers {
    gap: 2rem;
}

.answer {
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding-right: 0.5rem;
}

.answer-body {
    align-items: flex-start;
    gap: 1rem;
}

.your,
.correct {
    font-weight: 600;
}

.right {
    background: var(--green-color);
    color: var(--white-color);
}

.wrong {
    background: var(--red-color);
    color: var(--white-color);
}

/* Footer */

.footer {
    background: var(--secondary-color);
}

.footer-nav {
    align-items: flex-start;
    gap: 10rem;
    padding: 2rem 0;
}

.footer-nav-item {
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}

.footer-nav-item > .h4 {
    color: var(--black-color);
}

.footer-list {
    align-items: flex-start;
    gap: 0.5rem;
}

.footer-list > a {
    color: var(--white-color);
}

.footer-list > a:hover {
    transform: scale(1.1);
}

.footer-list > a > i {
    font-size: 2rem;
    color: var(--white-color);
}

.footer > .logo {
    padding: 1.5rem 0;
    border-top: 2px solid var(--white-color);
    text-align: center;
}

.footer > .logo > .h6 {
    margin: 0;
    color: var(--white-color);
}